
#offline-resources {
    display: none;
}

.interstitial-wrapper {
    box-sizing: border-box;
    font-size: 1em;
    line-height: 1.6em;
    margin: 14vh auto 0;
    max-width: 90vw;
    max-height: 80vh;
    padding-top: 100px;
    width: 600px;
    height: 80vh;
    overflow: hidden;
}

.runner-container {
    direction: ltr;
    height: 150px;
    max-width: 90vw;
    image-rendering: pixelated;
    overflow: hidden;
    position: absolute;
    top: 35px;
    width: 600px;
    left: 0;
    margin: auto;
    right: 0;
    transform-origin: top center;
    transition: transform 250ms cubic-bezier(0.4, 0.0, 1, 1) .4s;
    z-index: 2;
}

.runner-canvas {
    height: 150px;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 10;
    image-rendering: pixelated;
    max-width: 90vw;
    width: 600px;
}

@media (prefers-color-scheme: dark) {

    .runner-canvas {
        filter: invert(1);
    }
}

